body {
  /* background-color: #0c0c0c !important; */
  /* background-color: #0b1215 !important; */
  /* background-color: #080e0e !important; */
  /* background-color: #101720 !important; */
  /* background-color: #161616 !important; */
  /* background-color: #011222 !important; */
  /* background-color: #020d19 !important; */
  background-color: #111 !important;

  color: #fff;
}

a {
  color: white !important;
}

p {
  margin: 0px;
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.wlcm-head {
  width: 10%;
}
.wlcm-head img {
  width: 75%;
  margin-bottom: 1rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

/* navbar  */

.menu__link {
  color: #dadadb !important;
  line-height: 2;
  position: relative;
}

.menu__link:hover {
  color: #fff !important;
}

.menu__link::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -0.15rem;
  left: 50%;
  transition: width 0.4s, left 0.4s;
}

.menu__link:hover::before {
  width: 100%;
  left: 0;
}

.center-itm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Offset for centering */
  /* Styles for the centered item */
}

.btn-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  position: relative;
}

.btn-cart::after {
  content: attr(data-quantity);
  width: fit-content;
  height: fit-content;
  position: absolute;
  font-size: 15px;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s linear;
  top: 115%;
}

.icon-cart {
  width: 24.38px;
  height: 30.52px;
  transition: 0.2s linear;
}

.icon-cart path {
  fill: #ff00a2;
  transition: 0.2s linear;
}

.btn-cart:hover > .icon-cart {
  transform: scale(1.2);
}

.btn-cart:hover > .icon-cart path {
  fill: rgb(186, 34, 233);
}

.btn-cart:hover::after {
  visibility: visible;
  opacity: 1;
  top: -65%;
}

.quantity {
  display: none;
}

/* cart */

.cart-card {
  color: #fff;
  border-radius: 2em;
  padding: 10px;
  background-color: #191919;
  box-shadow: 7px 7px 17px rgba(0, 0, 0, 0.4), -7px -7px 17px rgba(255, 255, 255, 0.05);
}

.del-btn {
  color: white;
  margin-left: 1rem;
  padding: 8px 16px;
}
.del-btn:hover {
  border-color: red;
}

.payment-card {
  padding: 30px;
  background: transparent !important;
  box-shadow: 5px 5px white;
  border: 2px solid white;
}

.MuiDrawer-paper,
.css-hyum1k-MuiToolbar-root {
  background: #000 !important;
}

.css-cveggr-MuiListItemIcon-root,
.css-tlelie-MuiListItemText-root {
  color: #fff !important;
}

.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root {
  margin: 0px 10px !important;
  border-radius: 10px !important;
}
.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root:hover {
  background: linear-gradient(45deg, #7b3df6, #b700ff);
}

.MuiBox-root .css-jd7w1v {
  background: url("../public/aside.png") no-repeat right top #000;
}

.grd-btn:hover {
  background: linear-gradient(45deg, #7b3df6, #b700ff);
  color: #fff !important;
}

.grd-btn {
  color: #fff !important;
  background-color: transparent;
}

.img-fluid {
  max-width: 100%;

  width: 150px;
  height: 150px;
  object-fit: contain;
}
.img-fluid-view {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left,
button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right {
  padding: 0;
  background: transparent;
}

.react-multiple-carousel__arrow::before {
  font-size: 16px;
}

.react-multiple-carousel__arrow {
  min-width: 38px;
  min-height: 38px;
}

header.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionFixed.mui-fixed.css-1rcigon {
  background: black !important;
}
.css-1ontqvh,
.css-1f8bwsm {
  color: white !important;
}

.css-1uwabd6 {
  margin: 0px 10px !important;
  border-radius: 10px !important;
}

.css-1uwabd6:hover {
  background: linear-gradient(45deg, #7b3df6, #b700ff);
}

.MuiBottomNavigation-root {
  position: fixed;
  bottom: 2%;
  width: 96% !important;
  background: linear-gradient(45deg, #7b3df6, #b700ff);
  color: #fff !important;
  z-index: 1000;
  margin-left: 2%;
  border-radius: 14px;
  box-shadow: rgba(123, 61, 246, 0.4) 0px 3px 12px, rgba(183, 0, 255, 0.4) 0px 3px 12px;
}

.css-118p9r0-MuiButtonBase-root-MuiBottomNavigationAction-root {
  min-width: 20% !important;
}
.css-1bjk3jo-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected {
  color: #fff !important;
}

.top-small {
  padding: 8px 0;
  background: black !important;
}

.btm-nv button {
  color: white;
}
