@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap");

.coll-img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

body {
  background-color: #111 !important;

  font-family: "Sofia Sans Semi Condensed", sans-serif !important;
  /* font-family: "monument extended", sans-serif !important; */
  font-weight: 400; /* or 800 depending on the style you want */
  font-optical-sizing: auto;
  font-style: normal;
  color: #fff !important;
}

a {
  color: white !important;
}

p {
  margin: 0px;
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.wlcm-head {
  width: 12%;
}
.wlcm-head img {
  width: 100%;
  margin: 1rem 0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

/* navbar  */

.menu__link {
  color: #dadadb !important;
  line-height: 2;
  position: relative;
}

.menu__link:hover {
  color: #fff !important;
}

.menu__link::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -0.15rem;
  left: 50%;
  transition: width 0.4s, left 0.4s;
}

.menu__link:hover::before {
  width: 100%;
  left: 0;
}

.center-itm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Offset for centering */
  /* Styles for the centered item */
}

.btn-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  position: relative;
}

.btn-cart::after {
  content: attr(data-quantity);
  width: fit-content;
  height: fit-content;
  position: absolute;
  font-size: 15px;
  color: white;
  /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
  opacity: 0;
  visibility: hidden;
  transition: 0.2s linear;
  top: 115%;
}

.icon-cart {
  width: 24.38px;
  height: 30.52px;
  transition: 0.2s linear;
}

.icon-cart path {
  fill: #ff00a2;
  transition: 0.2s linear;
}

.btn-cart:hover > .icon-cart {
  transform: scale(1.2);
}

.btn-cart:hover > .icon-cart path {
  fill: rgb(186, 34, 233);
}

.btn-cart:hover::after {
  visibility: visible;
  opacity: 1;
  top: -65%;
}

.quantity {
  display: none;
}

/* cart */

.cart-card {
  color: #fff;
  border-radius: 2em;
  padding: 10px;
  background-color: #191919;
  box-shadow: 7px 7px 17px rgba(0, 0, 0, 0.4), -7px -7px 17px rgba(255, 255, 255, 0.05);
}

.del-btn {
  color: white;
  margin-left: 1rem;
  padding: 8px 16px;
}
.del-btn:hover {
  border-color: red;
}

.payment-card {
  padding: 30px;
  background: transparent !important;
  box-shadow: 5px 5px white;
  border: 2px solid white;
}

.MuiDrawer-paper,
.MuiToolbar-root {
  background: #000 !important;
}

.css-cveggr-MuiListItemIcon-root,
.css-tlelie-MuiListItemText-root {
  color: #fff !important;
}

.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root {
  margin: 0px 10px !important;
  border-radius: 10px !important;
}
.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root:hover {
  background: linear-gradient(45deg, #7b3df6, #b700ff);
}

.MuiBox-root .css-jd7w1v {
  background: url("../public/aside.png") no-repeat right top #000;
}

.grd-btn {
  color: #fff !important;
  background-color: red;
  padding: 5px;
  font-size: 14px;
}
.grd-btn svg {
  font-size: 14px;
}

.grd-btn:hover {
  background-color: rgb(172, 3, 3);
}

.img-fluid {
  max-width: 100%;

  width: 150px;
  height: 150px;
  object-fit: contain;
}
.img-fluid-view {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left,
button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right {
  padding: 0;
  background: transparent;
}

.react-multiple-carousel__arrow::before {
  font-size: 16px;
}

.react-multiple-carousel__arrow {
  min-width: 38px;
  min-height: 38px;
}

header.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionFixed.mui-fixed.css-1rcigon {
  background: black !important;
}
.css-1ontqvh,
.css-1f8bwsm {
  color: white !important;
}

.css-1uwabd6 {
  margin: 0px 10px !important;
  border-radius: 10px !important;
}

.css-1uwabd6:hover {
  background: linear-gradient(45deg, #7b3df6, #b700ff);
}

.MuiBottomNavigation-root {
  position: fixed;
  bottom: 2%;
  width: 96% !important;
  background: linear-gradient(45deg, #7b3df6, #b700ff);
  color: #fff !important;
  z-index: 1000;
  margin-left: 2%;
  border-radius: 14px;
  box-shadow: rgba(123, 61, 246, 0.4) 0px 3px 12px, rgba(183, 0, 255, 0.4) 0px 3px 12px;
}

.MuiButtonBase-root {
  min-width: 20% !important;
}
.css-1bjk3jo-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected {
  color: #fff !important;
}

.top-small {
  padding: 8px 0;
  background: black !important;
}

.btm-nv button {
  color: white;
}

.con-shop-btn {
  background-color: #242424;
}
.con-shop-btn:hover {
  background: linear-gradient(45deg, #7b3df6, #b700ff);
  color: #fff !important;
}

.con-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10001;
  background: #000;
  color: white;
  width: 100%;
  height: 100%;
}

ul.MuiList-root.MuiList-padding.css-h4y409-MuiList-root {
  color: white !important;
}

.css-wa5fuu-MuiListItemIcon-root {
  color: white !important;
}

button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
  color: white !important;
}
.MuiListItemIcon-root,
.MuiSvgIcon-root {
  color: white !important;
}

.user-link {
  background: linear-gradient(45deg, #7b3df6, #b700ff);
  padding: 0;
  border: 1px solid transparent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: block;
  align-content: space-around;
}
.user-link:hover {
  background: linear-gradient(45deg, #b700ff, #7b3df6);
}

@media (min-width: 600px) {
  .css-1r9jet7 {
    min-height: 100px !important;
  }
  .heightFromHeader {
    height: 4rem;
  }
}

@media (min-width: 1024px) {
  .heightFromHeader {
    height: 8rem;
  }
}

.banner-box img {
  box-shadow: 0px 0px 35px rgba(123, 61, 246, 0.15) !important;
  border-radius: 20px;
  height: calc(100vh - 9.5rem);
  object-fit: cover;
}

.container {
  position: relative;
  /* padding: 20px; */
}

.scroll-container {
  position: relative;
  display: flex;
  align-items: center;
}

.scroll-row {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none; /* For Firefox */
}

.scroll-row::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.scroll-arrow-left,
.scroll-arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* background-color: rgba(0, 0, 0, 0.5); */
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  height: 100%;
}

.scroll-arrow-left {
  left: -30px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.05), transparent);
  width: 5%;
}

.scroll-arrow-left:hover {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), transparent);
}

.scroll-arrow-right {
  right: -30px;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.05));
  width: 5%;
}

.scroll-arrow-right:hover {
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.1));
}

.scroll-row > * {
  flex: 0 0 auto;
  margin-right: 15px; /* Adjust margin between product cards */
}

.flex-fill {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  filter: grayscale(1);
}
.right-coll {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  filter: grayscale(1);
}
.flex-fill:hover,
.right-coll:hover {
  transform: scale(1.02);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  filter: grayscale(0);
}

.women-col-head {
  bottom: 7%;
  left: 7%;
  z-index: 1;
}
.kid-col-head {
  bottom: 7%;
  left: 7%;
  z-index: 1;
}
.men-col-head {
  bottom: 3.5%;
  right: 7%;
  z-index: 1;
}

.rdxm-desc {
  width: 75%;
  margin: 0 auto;
  color: #7e7e7e;
}

.login-toast-btn {
  background: transparent;
  padding: 0;
}

.MuiAppBar-root {
  background: black;
}

.gtrx-0 {
  --bs-gutter-x: 0rem !important;
}

@media (max-width: 600px) {
  .scroll-arrow-left,
  .scroll-arrow-right {
    position: absolute;
    bottom: -3%;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    transform: translateX(-15%);
    height: 10%;
    width: unset;
    top: 100%;
  }

  .scroll-arrow-left {
    left: 15%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.05), transparent);
  }

  .scroll-arrow-right {
    right: 15%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.05));
  }
  .banner-box img {
    height: calc(50vh - 9.5rem);
  }
  .grd-btn svg {
    font-size: 25px;
  }

  #basic-button {
    min-width: 0px !important;
    padding: 0 0 0 10px !important;
    justify-content: end !important;
  }

  .rdxm-desc {
    width: 100%;
  }
  .men-col-head {
    left: 7%;
    right: unset;
  }
  .css-1ujsas3 {
    color: white !important;
    /* text-decoration: underline; */
    text-transform: capitalize !important;
  }
  .siteHeading {
    font-size: 4rem;
  }
  .kid-col-head,
  .men-col-head,
  .women-col-head {
    font-size: 2rem;
  }
}
